#brand {
	font-family: 'Pacifico', cursive;
	font-size: 200%;
	text-shadow: 2px 2px black;
}

#home {
	padding-top: 150px;
}

#addItemButton {
	cursor: pointer; 
	min-width: 100px;
}

.navbar-items{
	cursor: pointer; 
	text-align: center;
	margin: 0 auto;
	margin-left: 1vh;
}

.navbar-items img{
	margin-top: 1vh;
	height: 50px;
	display: block;
}

.navbar-items p {
 	color: white;
}