#brand {
	font-family: 'Indie Flower', cursive; 
	font-size: 200%;
	margin-top: 1vh;
}

.navbar-items{
	cursor: pointer; 
	text-align: center;
	margin: 0 auto;
	margin-left: 1vh;
}

.navbar-items:hover {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(0,255,0, 0.6);
}

.navbar-items img{
	margin-top: 1vh;
	height: 50px;
	display: block;
}

.navbar-items p {
 	color: white;
}