<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand col-sm-6" id="brand" href="#">
        <p>Upplify</p>
        <p>Food</p>
      </a>
    </div>

    <div class="collapse navbar-collapse" style="margin: 10px">
      <ul class="nav navbar-nav">
          <li class="col-xs-2 navbar-items" ng-click="currentType = 'all'" ng-class=isActive('all')>
            <img src="/resources/img/all.png" /> 
            <p>All</p>
          </li>
          <li class="col-xs-2 navbar-items" ng-click="currentType = 'burgers'" ng-class=isActive('burgers')>
            <img src="/resources/img/burguer.png"> 
            <p>Burger</p>
          </li>
          <li class="col-xs-2 navbar-items" ng-click="currentType = 'salad'" ng-class=isActive('salad')>
            <img style="margin-left: -1vh" src="/resources/img/salad.png"> 
            <p style="margin-left: 1vh">Salad</p>
          </li>
          <li class="col-xs-2 navbar-items" ng-click="currentType = 'chinese'" ng-class=isActive('chinese')>
            <img src="/resources/img/ramen.png"> 
            <p>Chinese</p>
          </li>
          <li class="col-xs-2 navbar-items" ng-click="currentType = 'pizza'" ng-class=isActive('pizza')>
            <img src="/resources/img/pizza.png"> 
            <p>Pizza</p>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li class="navbar-items">
              <img style="min-height: 50px; width: auto" src="/resources/img/cart.png">
              <div class="row">
                <p class="col-xs-2">Checkout</p>
                <span class="badge  col-xs-offset-6">{{orderBadge}}</span>
              </div>
          </li>
      </ul>
    </div>

  </div>
</nav>


